<div id='rawlist'>
<h2>Recipes List</h2>

<ul>
  {{#each recipes}}
  <li>{{id}}</li>
    <li>{{RecipeName}}</li>
  {{/each}}
</ul>
</div>


<div>
<h2>ADD RECIPES</h2>
<form class="create-form">

  <div class="form-group">
    <label for="recipeName">RECIPE NAME</label>
    <input type="text" class="form-control" id="recipeName" placeholder="Recipe Name">
  </div>

  <button id="submitRecipe" type="submit" class="btn btn-primary">ADD RECIPE</button>
</form>
</div>


