<table id="calculatedTotalsTable" class="table" style="background: white; color: black;">
            <thead>
              <th scope="col">Recipe Id</th>
              <th scope="col">Recipe Name</th>
              <th scope="col">Description</th>
              <th scope="col">Total Calories</th>
              <th scope="col">Total Carbs (oz)</th>
              <th scope="col">Total Sugar (oz)</th>
              <th scope="col">Total Fat (oz)</th>
              <th scope="col">Total Protein (oz)</th>
            </thead>
            <tbody>
              {{#each recipes}}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {{/each}}
            </tbody>
          </table>